@page "/home"
@using Homakers.Applications.DTOs
@using Homakers.SQLite.Models
@inject Homakers.SQLite.CustomerSQLiteInitializer _sqliteDb
@inject Homakers.Sevices.UIProfessionsServices _professionsService
@inject Homakers.Sevices.UIProfessionalService _professionalService
@inject Homakers.Sevices.UIUtilityServices _utilityServices
@inject NavigationManager _navigationManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" /> *@
    <div class="container">
        @if (error != null || error == "")
        {
            <p>
                @error
            </p>
        }
        <div class="row">
            <div class="col-lg-10 mx-auto" style="height:90vh;">

                <div class="career-search mb-60">
                    <!-- START Pagination -->
                    <div class="filter-result">
                        <div class="card custom-card">
                            <div class="card-body pd-4">
                                <div class="row text-center">
                                    <div class="col-xl-4" style="width:35%;">
                                        <button type="button" @onclick="OnPrev" disabled="@(pageNumber <= 1 ? true : false)" style="padding: 5px;border: 1px solid darkslategray;background-color: darkslategray;border-radius: 5px;color: white;">
                                            Prev
                                            @*  <i class="zxli zxli-long-arrow-left"></i> *@
                                        </button>
                                    </div>
                                    <div class="col-xl-4" style="width:30%;">
                                        <p class="mb-30 ff-montserrat">Page: @pageNumber</p>
                                    </div>
                                    <div class="col-xl-4" style="width:35%;">
                                        <button type="button" @onclick="OnNext" style="padding: 5px;border: 1px solid darkslategray;background-color: darkslategray;border-radius: 5px;color: white;">
                                            Next
                                            @* <i class="zxli zxli-long-arrow-right"></i> *@
                                        </button>
                                    </div>
                                </div>
                                <span class="card-text" style="float:left;font-size:15px;"></span>
                            </div>
                        </div>
                    </div>
                    <!-- END Pagination -->
                    <!--  START Page Controls  -->
                    <div class="filter-result">
                        <div class="card custom-card">
                            <div class="card-body pd-4">
                                <div class="row">
                                    <div class="col-xl-4" style="width:40%;">
                                        <InputSelect id="selectDistrict"
                                                     placeholder="District"
                                                     @bind-Value="selectedDistrictName"
                                                     @bind-Value:after="FilterByDistrict"
                                                     class="custom-select">
                                            <option value="" style="color:black;">Select District</option>
                                            @foreach (DistrictsDto district in districtList)
                                            {
                                                <option value="@district.DistrictName" style="color:black;">@district.DistrictName</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="col-xl-4" style="width:40%;">
                                        <InputSelect id="selectProfession"
                                                     @bind-Value="selectedProfessionName"
                                                     @bind-Value:after="FilterByProfession"
                                                     class="custom-select">
                                            <option value="" style="color:black;">Select Profession</option>
                                            @foreach (ProfessionsDto professionsDto in professionList)
                                            {
                                                <option value="@professionsDto.ProfessionName" style="color:black;">@professionsDto.ProfessionName</option>
                                            }
                                        </InputSelect>
                                    </div>
                                    <div class="col-xl-4" style="width:20%;">
                                        <button type="button" class="btn btn-sm btn-primary" id="contact-submit" @onclick="ClearSearch" style="padding:7px;">
                                            Refresh
                                        </button>
                                    </div>
                                </div>
                                <span class="card-text" style="float:left;font-size:15px;"></span>
                            </div>
                            <div class="card-body pd-4">
                                <span class="card-text" style="float:left;font-size:14px;"></span>
                            </div>
                        </div>
                        <!-- END Page Controls -->
                        <div class="filter-result" style="overflow:auto;height:65vh;">
                            @foreach (ProfessionalProfession mappedProfessional in professionMappingList)
                            {
                                <div class="card custom-card" @onclick="() => OnBookService(mappedProfessional)" style="box-shadow:1px 3px 4px 0px #686466e0, 1px 3px 4px 0 #686466e0;margin-left: 5px;width: 98%;padding: 5px;">
                                    <div class="card-body pd-4">
                                        <span class="card-text" style="float:left;font-size:15px;">@mappedProfessional.Name</span>
                                        <span class="card-text" style="float:right;font-size:14px;">@mappedProfessional.ProfessionName</span>
                                    </div>
                                    <div class="card-body pd-4">
                                        <span class="card-text" style="float:left;font-size:14px;">🌍@mappedProfessional.DistrictName</span>
                                        <span class="card-text" style="float:right;font-size:14px;">✆ @mappedProfessional.Mobile</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
</body>
</html>

@code {
    [SupplyParameterFromQuery] public string username { get; set; }
    private int pageNumber { get; set; }
    private int pageSize { get; set; } = 10;
    private SCustomers sCustomer { get; set; }
    private List<ProfessionsDto>? professionList { get; set; }
    private List<ProfessionalsDto>? professionalsList { get; set; }
    private List<ProfessionalProfession> professionMappingList { get; set; }
    private string? selectedProfessionName { get; set; }
    private string? selectedDistrictName { get; set; }
    private List<DistrictsDto>? districtList { get; set; }

    private string? searchProfessionalName { get; set; }
    private string error { get; set; }


    protected override async Task OnInitializedAsync()
    {
        sCustomer = new SCustomers();
        professionList = new List<ProfessionsDto>();
        districtList = new List<DistrictsDto>();
        professionalsList = new List<ProfessionalsDto>();
        professionMappingList = new List<ProfessionalProfession>();
    }

    protected override async Task OnParametersSetAsync()
    {

        try
        {
            error = "";
            if (GlobalConstants.CustomerID == "")
                sCustomer = await _sqliteDb.GetCurrentCustomerAsync();
            if (sCustomer == null || GlobalConstants.CustomerID == "")
            {
                _navigationManager.NavigateTo("/");
            }
            {
                try
                {
                    error = "";
                    GlobalConstants.CustomerID = sCustomer.CustomerID.ToString();

                    if (pageNumber == 1)
                    {
                        pageNumber = 1;
                        pageSize = 10;
                        districtList = await _utilityServices.GetDistrictsAsync();
                        professionList = await _professionsService.GetProfessionsAsync();
                        professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber, pageSize, null, null, null);
                        MapProfessionals();
                    }
                    else if (pageNumber < 1)
                    {
                        pageNumber = 1;
                        districtList = await _utilityServices.GetDistrictsAsync();
                        professionList = await _professionsService.GetProfessionsAsync();
                        professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber, pageSize, null, null, null);
                        MapProfessionals();
                    }
                }
                catch (Exception ex)
                {
                    error = ex.Message;
                }
            }

        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    private async Task OnPrev()
    {
        if (pageNumber > 1)
        {
            professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber - 1, pageSize, selectedDistrictName, selectedProfessionName, searchProfessionalName);
            MapProfessionals();
            pageNumber--;
        }
    }

    private async Task OnNext()
    {
        professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber + 1, pageSize, selectedDistrictName, selectedProfessionName, searchProfessionalName);
        MapProfessionals();
        pageNumber++;
    }

    private async Task ClearSearch()
    {
        try
        {
            selectedDistrictName = null;
            selectedProfessionName = null;
            searchProfessionalName = null;
            professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber, pageSize, selectedDistrictName, selectedProfessionName, searchProfessionalName);
            MapProfessionals();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    private async Task FilterByProfession()
    {
        try
        {
            if (searchProfessionalName == "")
            {
                searchProfessionalName = null;
                professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber, pageSize, selectedDistrictName, selectedProfessionName, searchProfessionalName);
            }
            else
            {
                professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber, pageSize, selectedDistrictName, selectedProfessionName, searchProfessionalName);
            }
            MapProfessionals();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    private async Task FilterByDistrict()
    {
        try
        {
            if (selectedDistrictName == "")
            {
                selectedDistrictName = null;
                professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber, pageSize, selectedDistrictName, selectedProfessionName, searchProfessionalName);
            }
            else
            {

                professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber, pageSize, selectedDistrictName, selectedProfessionName, searchProfessionalName);
            }
            MapProfessionals();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    private async Task onSearch(ChangeEventArgs args)
    {
        try
        {
            if (args.Value.ToString() != "")
            {
                searchProfessionalName = args.Value.ToString();
                professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber, pageSize, selectedDistrictName, selectedProfessionName, searchProfessionalName);

            }
            else
            {
                searchProfessionalName = null;
                professionalsList = await _professionalService.GetProfessionalsSummary(pageNumber, pageSize, selectedDistrictName, selectedProfessionName, searchProfessionalName);
            }
            MapProfessionals();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    private void MapProfessionals()
    {
        professionMappingList = new List<ProfessionalProfession>();
        foreach (ProfessionalsDto professional in professionalsList)
        {
            ProfessionalProfession mappedProfessional = new ProfessionalProfession();
            ProfessionsDto profession = professionList.Where(pro => pro.ProfessionID == professional.ProfessionID).FirstOrDefault();
            if (profession.ProfessionID == professional.ProfessionID)
            {
                mappedProfessional.ProfessionID = professional.ProfessionID;
                mappedProfessional.ProfessionalsID = professional.ProfessionalsID;
                mappedProfessional.ProfessionName = profession.ProfessionName;
                mappedProfessional.MinPrice = profession.MinPrice;
                mappedProfessional.MaxPrice = profession.MaxPrice;
                mappedProfessional.Name = professional.Name;
                mappedProfessional.Email = professional.Email;
                mappedProfessional.Mobile = professional.Mobile;
                mappedProfessional.DistrictName = professional.DistrictName;
                mappedProfessional.CustomerID = sCustomer.CustomerID;
                professionMappingList.Add(mappedProfessional);
            }
        }
    }

    private async Task OnBookService(ProfessionalProfession mappedProfessional)
    {
        _navigationManager.NavigateTo($"/bookService?Id={mappedProfessional.ProfessionalsID}&CustomerId={sCustomer.CustomerID}");
    }
}
